body{
    /* outline: 1px dotted blue; */
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    color: rgb(36, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 970px;
    height: auto;
    background-image: linear-gradient(rgb(233, 250, 250), white, rgb(233, 250, 250));
    padding: 40px;
}

.row{
    width: 970px;
    height: auto;
    vertical-align: baseline;
    padding-top: 20px;
}

.box{
    width: 230px;
    height: 230px;
    box-shadow: 4px 4px 8px #333;
}

.box img{
    width: 90%;
    height: auto;
    margin-left: 15px;
    margin-top: 20px;
}

h1{
    background-color: rgb(233, 250, 250);
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgb(155, 154, 154);
}